/* Estilos para la página principal */
.title {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serify;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: black; /* Cambia el color de fondo a negro */
  line-height: 0,5;
}

h1 {
  color: #333;
}

/* Estilos para las encuestas */
.encuestas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #17c44e;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para los elementos seleccionados */
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  font-weight: bold;
  color: #007bff;
}

/* Estilos para el botón */
button {
  font-weight: bold;
}
